extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Parker McCrary

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position. 
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li jQuery
          li Node.js
          li Express
          li Fetch API
          li AJAX
          li Git
          li OOP
        h6 Contact Info

        ul
          li +1 (423) 470-8455
          li parkertomm3@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/parker-mccrary-a17850145/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/ptmccrary' target='_blank') GitHub
        // a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  