extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Parker McCrary

        p.lead.text-orange
          | Full-Stack Developer

        .portfolio-bio
          p
            | Hello! I'm Parker, a 23 year old junior full-stack web developer based in Charlottesville, VA. I've graduated from Piedmont Virginia Community College
            | with an Associate Degree in Computer Science, and in addition to my coursework, I’ve been taking full-stack programming courses through teamtreehouse.com. Although I was hesitant
            | at first to learn coding in an online program, I’ve found ways to interact with others such as doing code review for other junior programmers.
            | Working with others to collectively improve our skills has been incredibly motivating and it’s made me very eager to join a team to build things
            | together.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li jQuery
          li Node.js
          li Express
          li Fetch API
          li AJAX
          li Git
          li OOP
        h6 Contact Info

        ul
          li +1 (423) 470-8455
          li parkertomm3@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/parker-mccrary-a17850145/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/ptmccrary' target='_blank') GitHub
        // a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  