extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 Greetings, Potential Employer!

      p.lead.text-light
        | This portfolio site is created with express. The projects displayed on this website as well as the website itself are projects part of teamtreehouse's full stack JavaScript techdegree course.
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project in projects
        .cell
          a(href=`/projects/${project.id}` target='_blank')
            img.thumbnail(src=`${project.image_urls.main}`)
            h5= `${project.project_name}`
      
